.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: hsl(193, 38%, 86%);
  align-items: center;
}


.card {
  background-color: hsl(217, 19%, 24%);
  margin: 15px;
  padding: 20px;
  border-radius: 20px;
  }

  h2{
    font-size: 20px;
    color: hsl(150, 100%, 66%);
  }
  
  .medium{
    padding-bottom: 40px;
  }
  .large{
    display: none;
    padding-bottom: 40px;

  }

  button{
    border: none;
    background-color:  hsl(150, 100%, 66%);
    height: 60px;
    width: 60px;
    border-radius: 50%;
    position: relative;
    top: -50px;
  }

  @media screen and (max-width: 374px) {
    .large{
      display: none;
    }
    .medium{
      display: none;
    }
  }
  @media screen and (min-width:1440px) {
    .App{
      align-items: center;
    }
    .medium{
      display: none;
    }
    .large{
      display:block;
    }
    .card{
      width: 450px;
    }
  }

  /* ### Primary
  
  - Light Cyan: hsl(193, 38%, 86%)
  - Neon Green: hsl(150, 100%, 66%)
  
  ### Neutral
  
  - Grayish Blue: hsl(217, 19%, 38%)
  - Dark Grayish Blue: hsl(217, 19%, 24%)
  - Dark Blue: hsl(218, 23%, 16%) */